@{
    ViewData["Title"] = "Library Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Welcome to Our Library </h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyJBRYgQvcZZH5oK_Ujcc6IVrnm8vpZduTEQ&usqp=CAU" class="img-fluid mt-3" alt="Library Image" width="500" />
            <p class="mt-3">Explore a world of knowledge through our extensive collection of books.</p>
            <p>Visit the library to discover, learn, and enjoy the magic of reading.</p>
            <a href="#" class="btn btn-primary mt-3">Browse Books</a>
        </div>
    </div>
</div>
